/*ABOUT ME page*/

nav {
	overflow: hidden;
	display: block;
    background: ghostwhite;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

nav li{
  display: inline;
}

nav ul li a{
	display: inline-block;
	padding: 1em;
	text-decoration: none;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul li a:hover{
	background-color: lightblue;
}

body {
	background-color: mediumturquoise;
}

.ind_h1 {
    text-align: center;
    font-family: Bookman, URW Bookman L, serif;
}

.ind_h2 {
    /*margin-left: 141px;	
    padding-right: 141px;
	margin-left: 10%;	
    padding-right: 10%;*/
    text-align: center;
	font-family: OCR A Std, monospace;
}

.ind_p {
    /*margin-left: 10%;	
    padding-right: 10%;*/
    text-align: justify;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.ind_ul {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    /*margin-left: 10%;
    padding-right: 10%;*/
}

#tablepics {
	text-align: center;
	background-color: thistle;
    margin-left: 10%;
    padding-right: 5%;
}
#usa {
	width: 115%;
	height: 115%;
}
#world {
	width: 115%;
	height: 115%;
}


/*.column {
	float: left;
	/*width: 50%;
	text-align: center;
	width: 646.5px;
	height: 383px;
}

/* Clearfix (clear floats) 
.row::after {
	margin-left: 141px;	
	padding-right: 141px;
	content: "";
	clear: both;
	display: table;
}*/


/*div {
    text-align: center;
}*/

/*#world {
	width: 646.5px;
	height: 383px;
	text-align: center;
}*/

#tbl_travel {
    width: 1000px;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}


/*----------------RESUME page---------------------------------*/

#card{
	text-align: center;
	font-family: Verdana, sans-serif;
	border-style: double;
	border-style: inset;
	margin-left: 25%;	
    margin-right: 25%;
	background: wheat;
}

h2 {
	text-align: center;
	font-family: ComicSansMS, ComicSans, cursive;
	border-top-style: ridge;
	border-color: #ebcb7a;
	margin-left: 15%;
    margin-right: 15%;
}

h3 {
	font-family: TrebuchetMS, sans-serif;
	margin-left: 15%;	
    margin-right: 15%;
}

p, ul, h4 {
	font-family: ArialNarrow, sans-serif;
	margin-left: 15%;	
    margin-right: 15%;
}

ul ul {
	margin-left: 5%;
}

table {
    width: 75%;
    text-align: justify;
	font-family: ArialNarrow, sans-serif;
	page-break-after: auto;
    margin-left:18%; 
    margin-right:18%;
}


/*------------------SCOTLAND page----------------------------------*/

@font-face {
    font-family: 'walk_around_the_blockregular';
    src: url(font/'walk-around-the-block-webfont.woff2') format('woff2'),
         url(font/'walk-around-the-block-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (min-width: 300px) {
.scot_bod {
    background-color: #5bd75b;
	margin: 0;
	padding: 0;
  }
}

/*#sidebar {
    font-family: 'walk_around_the_blockregular', regular;
	font-weight:bold;
	font-style:normal;
	text-align: center;
	color: DarkBlue;
	
    position: fixed;
    top: 40%;
    height: 100%;
    width: 100%;
}*/



/*.mySlides {
	display: none;
}*/

/*.slideshow-container {
	width: 75%;
	top: 40%;
	height: 75%;
	margin: auto;
	border: 10px;
	border-color: red;
	/*overflow: hidden;
}*/

.myslides {
	display: flex;
	background-image: url(media/pics/scot_flag.png);
	/*background-color: #89CFF0; baby blue*/
	margin: 0 auto;
	background-color: inherit;
	border: 0;
}

.myslides img {
	margin: 0 auto;
}

.myslides #text {
	margin: 0 auto;
}


.text {
	vertical-align: text-bottom;
	text-align: center;
    font-family: 'walk_around_the_blockregular', regular;
	font-weight:bold;
	font-style:normal;
	color: DarkBlue;
	
	background-color: #89CFF0; /*baby blue*/
}

#start, #glasgowuni, #stirling, #belfast, #tea {
	width: 360px; /*288,512*/
	height: 640px;
	text-align: center;
}

#lochlomond {
	width: 1024px;/*1024,239*/
	height: 239px;
}

#doune, #glencoe, #lochness, #alnwich, #edinburgh, #end {
	width: 640px;/*512,288*/
	height: 360px;
}

#wallace {
	width: 480px;/*384,512*/
	height: 640px;
}

#dots {
	text-align: center;
}


/*-----------------------------------------MAP page-------------------------------*/


#map_bod {
	height: 100%;
	margin: 0;
	padding: 0;
	/*@media only screen and (min-width: 300px) {
    background-color: #5bd75b;*/
  
}

#map {
	/*background: wheat;*/
	height: 90%;
	width: 100%;
	position: absolute;
	/*position: static;
	position: fixed;*/
}

/*#map_h1 {
	text-align: center;
	font-family: 'walk_around_the_blockregular', regular;
	font-weight:bold;
	font-style:normal;
	color: DarkBlue;
}*/


